<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <title>VUE</title>
</head>

<body>
    <div id="app" class="container p-3">
        <ul class="list-group">
            <li v-for="(dados,index) in data" :key="index" v-if="dados != null && dados != '' " class="list-group-item">{{dados}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="../../arquivoVue/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script>
        const vue = new Vue({
            el: "#app",
            data: {
                hello: "ola",
                data: [],
                user: "",
            },
            methods: {
                getGihubData() {
                    // console.log(user)
                    axios
                        .get("https://api.github.com/users/origamid")
                        .then((response) => {
                            this.data = response.data;
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

            },
            created() {
                this.getGihubData();
            }
        });
    </script>
</body>

</html>